*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*  Boot    */
img{
    max-width: 380px;
    width: 100%;
}

.center{
    max-width: 1280px;
    padding: 0 1%;
    margin: 0 auto;
}

.w50{
    padding: 0 2%;
    width: 50%;
}

/* 3 box na mesma fileira*/
.w33{
    width: 33.3%;
    padding: 0 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/*  */

header{
    text-transform: uppercase;
    background: #3D437A;
    padding: 20px 0;
}

header .logo{
    font-size: 23px; 
}

.logo a{
    text-decoration: none;
    color: white;
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop {
    color: white;
    text-decoration: none;
}

section.banner-principal{
    width: 100%;
    height: 600px;
    z-index: 1;
    background-image: url('../img/banner-computer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

section.banner-principal form{
    width: 92%;
    max-width: 600px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal form h2{

    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;

}

section.banner-principal form input[type=email]{
    width: 100%;
    height: 50px;
    background: white;
    color: #333;
    font-size: 23px;
    padding-left: 10px;
    margin-top: 10px;
    border: 0;

}

section.banner-principal form input[type=submit]{
    width: 100%;
    height: 50px;
    background: #474d4b;
    color: white;
    font-size: 23px;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 22px;
    border: 0;

}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.4)
}

section.quem-somos{
    padding: 40px 0;
}

section.quem-somos h2{
    font-size: 28px;
    font-weight: 400;
    color: #444;
}

section.quem-somos p {
    font-size: 16px;
    font-weight: 300;
    color: #444;
    margin-top: 10px;
}

section.especialidades{
    padding: 40px 0; 
    background: #E2E2E2;
}

section.especialidades .title{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #999;
}

.box-especialidade{

    margin: 40px 0;
    padding: 0 30px;
    text-align: center;

}

.box-especialidade h3{
    font-size: 40px;
    color: #404580;
}

.box-especialidade h4{
    font-size: 30px;
    font-weight: 400;
    color: #BABABA;
}

.box-especialidade p {
    color: #444;
    font-size: 18px;
    margin-top: 10px;
}

section.extras {
    padding: 30px 0;
    background: #404580;
}

.panel-servicos,.panel-depoimentos{
    padding: 0 50px;
}

section.extras .title{
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;        
}

.depoimento-single{
    padding: 15px 0;
    border-bottom: 2px solid #5156a3;
}

p.depoimentos-descricao{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor{
    font-size: 15px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.servicos ul{
    margin: 20px 0;
    /*list-style-position: inside;*/
}

.servicos li {
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

footer{
    background: #313462;
    padding: 30px 0;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

/*Aplicando design responsivo para mobile*/
@media screen and (max-width: 768px){
    img{
        display: block;
        margin: 0 auto;
        max-width: 500px;
        float: none !important;
    }

    .w50{
        padding: 20px;
        width: 100%;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }

    .box-especialidade {
        margin: 0;
        padding: 40px 20px;
    }

}

@media screen and (max-width: 700px){
    img{
        max-width: 300px;
    }

    nav.desktop{
        display: none;
    }
    .mobile-menu{
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile{
        display: block;
    }
    nav.mobile ul{
        top: 55px;
        z-index: 3;
        position: absolute;
        left: 0;
        display: none;
        text-align: center;
        width: 100%;
    }
    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        font-size: 17px;
        padding: 6px 0;
        border-bottom: 1px solid #ccc;
    }
    nav.mobile li a {
        display: block;
        color: #444;
        text-decoration: none;

    }

}